<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Glucoreader</title>
  </head>
<body>
<div>
    <table
      style="width: 100%;"
       border="0"
      cellpadding="0"
      cellspacing="0"
      align="center"
    >
      <tbody>
        <tr>
          <td height="50" style="height: 10px">
            <br />
          </td>
        </tr>
        <tr>
          <td align="center">
            <table
              style="width: 602px; background: #fff; border: 1px solid #c7d0d4; border-radius: 4px;"
              align="center"
              cellpadding="0"
              cellspacing="0"
            >
              <tbody style="border: 1px solid #c7d0d4 !important;">
                <tr>
                  <td>
                    <table
                      style="width: 100%"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                    >
                      <tbody>
                        <tr>
                          <td width="60"></td>
                          <td colspan="4">
                            <span
                              style="
                                color: #212529;
                                font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
                                font-size: 17px;
                                line-height: 1.5;
                              "
                            >
                            <br>
                              El paciente {{first_name}} {{last_name}} con la cédula de identidad {{ci}} obtuvo un resultado de {{measure}} en el test de glucosa en la sangre.
                              <br>
                              La prueba fue realizada el {{creation_date}} 
                              <br>
                              Puede verificar el resultado haciendo click en el siguiente botón:
                              <br>
                              <div align="center" style="text-align: center">
                                <a
                                  href="{{url}}"
                                  style="
                                    display: block;
                                    width: 250px;
                                    max-width: 85%;
                                    background: #821752;
                                    color: #fff;
                                    text-align: center;
                                    text-decoration: none;
                                    border-radius: 10px;
                                    padding: 12px 30px;
                                    margin: 0 auto;
                                  "
                                >
                                  Ver resultado
                                </a>
                              </div>

                            </span>
                          </td>
                          <td width="60"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td height="50" style="height: 50px"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="50" style="height: 50px">
            <br />
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </body>
</html>
